mrs_uav_managers:

  estimation_manager:

    # loaded state estimator plugins
    # available in mrs_uav_state_estimators: gps_garmin, gps_baro, rtk, aloam, ground_truth, dummy
    state_estimators: [
    "gps_baro",
    "gps_garmin",
    # "rtk",
    # "aloam",
    # "ground_truth",
    # "dummy"
    ]

    initial_state_estimator: "gps_garmin" # will be used as the first state estimator
    agl_height_estimator: "garmin_agl" # only slightly filtered height for checking min height (not used in control feedback)

  control_manager:

    # The following safety features should be carefully adjusted by the operator depending on the experimental conditions and setup
    safety:

      # Disables safety measures that would "bring the UAV to the ground" (emergancy landing, failsafe landing, disarm)
      # * true => any safety measure that would othewise lead to the ground will result in giving control back to the safety pilot's RC controller
      #    > use above water or other surfaces when immediate landing is not the best choice
      #    > use when the safety pilot is always ready to take over
      # * false => the system will automatically eland, failsafe leanding or disarm to minimize damage during malfunction
      #    > use in multi-robot experiments
      #    > use when the pilot might not be able to safe the UAV
      rc_emergency_handoff:
        enabled: true

      # The escalating safety measure that occurs when pressing the RC emergency button.
      escalating_failsafe:

        # 1st press: the emergency hover is triggered (the user's input into the system is ignored, EmergencyController is activated)
        ehover: true
        # 2nd press: the emergency landing is triggered
        eland: true
        # 3rd press: the feedforward failsafe landing is triggered (semi-controlled fall)
        failsafe: false

      # safety measures that trigger when the absolute tilt is larger than certain threshold
      # -> will be overriden by rc_emergency_handoff=true
      tilt_limit:

        eland:
          enabled: true
          limit: 75.0 # [deg]

        disarm:
          enabled: true
          limit: 90.0 # [deg]

      # disarming safety measure which triggers with large tilt (orientation) error that is sustained over the set timeout threshold
      # -> 20 degress tilt error is unusual during normal flight and almost exclusively happen with ESC / motor / propeller failure.
      #    With such failures, it is often safer to disarm the UAV at that moment than having it fight the error without all its actuators.
      # -> will be overriden by rc_emergency_handoff=true
      tilt_error_disarm:
        enabled: true
        timeout: 0.5 # [s] # for how long the error has to be present to disarm
        error_threshold: 20.0 # [deg]

      # safety measures that trigger when yaw control error grows over pre-set threshold
      # -> our SO(3) geometric tracking control might not converge with yaw error over 90 degrees
      # -> will be overriden by rc_emergency_handoff=true
      yaw_error_eland:
        enabled: true
        limit: 90.0 # [deg]
